<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <mz-navbar>
    <a href="#" class="brand-logo">Logo</a>
    <mz-navbar-item-container *ngIf="!user" [align]="'right'">
      <mz-navbar-item><a [routerLink]="['/signin']">Sign in</a></mz-navbar-item>
      <mz-navbar-item><a [routerLink]="['/signup']">sign up</a></mz-navbar-item>
    </mz-navbar-item-container>
    <mz-navbar-item-container *ngIf="user" [align]="'right'">
      <mz-navbar-item><a [routerLink]="['/auth/user']">Users</a></mz-navbar-item>
      <mz-navbar-item><a [routerLink]="['/auth/profile']">Profile</a></mz-navbar-item>
      <mz-navbar-item><a href="#" (click)="logout($event)">Logout</a></mz-navbar-item>
    </mz-navbar-item-container>
  </mz-navbar>
</div>

