<mz-modal [fixedFooter]="true" #modalClientAprovedClient [options]="modalOptions">
  <mz-modal-header>
    <h4>Calculate Credit</h4>
    <p>Calculate Credit for {{ClientSelectedForm.firstname}} {{ClientSelectedForm.lastname}} with number
      id {{ClientSelectedForm.number_id}}.</p>
  </mz-modal-header>
  <mz-modal-content>
    <div class="row">
      <form [formGroup]="approveCredictForm" (ngSubmit)="calculeCredit($event)" novalidate>
        <mz-input-container class="input-field col s6">
          <input mz-input mz-validation required
                 [label]="'Name Company'"
                 [validate]="true"
                 [value]="clientAproveContract.company"
                 [name]="'company'"
                 formControlName="company"
                 placeholder="Enter company"
                 type="text">
        </mz-input-container>
        <mz-input-container class="input-field col s6">
          <input mz-input mz-validation required
                 [label]="'Nit'"
                 [validate]="true"
                 [name]="'nit'"
                 [value]="clientAproveContract.nit"
                 formControlName="nit"
                 placeholder="Enter Nit"
                 length="150"
                 type="text">
        </mz-input-container>
        <mz-select-container class="col s6">
          <select mz-select
                  id="options-select"
                  [label]="'Value'"
                  [name]="'value'"
                  [value]="clientAproveContract.value"
                  formControlName="value"
                  [placeholder]="'Salario'"
          >
            <option *ngFor="let salario of selectOptionSalario" [value]="salario.value">{{salario.name}}</option>
          </select>
        </mz-select-container>
        <mz-datepicker-container class="col s6">
          <input mz-datepicker required
                 formControlName="date_contract"
                 [label]="'Date Contract*'"
                 [options]="datepickerOptions"
                 [name]="'date_contract'"
                 [value]="clientAproveContract.date_contract"
                 placeholder="Select your date Contract"
                 type="text">
        </mz-datepicker-container>
        <div class="col s12">
          <button class="col s12" mz-button>
            Calculator
          </button>
        </div>
      </form>
      <div class="row">
        <div class="col s12 text-center center-align">
          <p>
            <mz-spinner
              *ngIf="loading"
              [color]="'blue'"
              [size]="'big'">
            </mz-spinner>
          </p>

          <section *ngIf="show_message_user" class="left-align">
            <p>for client {{ClientSelectedForm.firstname}} {{ClientSelectedForm.lastname}} </p>
            <p [innerHTML]="message_form"></p>
          </section>
        </div>
      </div>
    </div>
  </mz-modal-content>
  <!--< <mz-modal-footer>
      <button mz-button [flat]="true" #closeBtn mz-modal-close>Disagree</button>
      <button mz-button [flat]="false" mz-modal-close>Agree</button>
    </mz-modal-footer>-->
</mz-modal>
