<mz-modal [fixedFooter]="true" #modalClient [options]="modalOptions">
  <mz-modal-header>
    <h4>{{titleModal}}</h4>
  </mz-modal-header>
  <mz-modal-content>
    <div class="row">
      <form [formGroup]="userForm" (ngSubmit)="saveUser($event)" novalidate>
        <div class="row">

          <mz-input-container class="input-field col s6">
            <!-- <i mz-icon-mdi mz-input-prefix
                [icon]="'email'">
             </i>-->
            <input mz-input mz-validation required
                   [label]="'firstname'"
                   [validate]="true"
                   [name]="'firstname'"
                   formControlName="firstname"
                   [errorMessageResource]="errorMessageResources.firstname"
                   [value]="clientContractInput.firstname"
                   id="firstname-input"
                   placeholder="Enter firstname"
                   length="150"
                   type="text">
          </mz-input-container>

          <mz-input-container class="input-field col s6">
            <!-- <i mz-icon-mdi mz-input-prefix
                [icon]="'email'">
             </i>-->
            <input mz-input mz-validation required
                   [label]="'Lastname'"
                   [validate]="true"
                   [name]="'lastname'"
                   formControlName="lastname"
                   [errorMessageResource]="errorMessageResources.lastname"
                   [value]="clientContractInput.lastname"
                   id="lastname-input"
                   placeholder="Enter lastname"
                   length="150"
                   type="text">
          </mz-input-container>
        </div>
        <div class="row">
          <mz-select-container class="col s6">
            <select mz-select
                    id="options-select"
                    [label]="'Type Document'"
                    [name]="'type_document'"
                    formControlName="type_document"
                    [placeholder]="'Placeholder'"
            >
              <option class="left circle" value="1">Option 1</option>
              <option class="left circle" value="2">Option 2</option>
            </select>
          </mz-select-container>


          <mz-input-container class="input-field col s6">
            <!-- <i mz-icon-mdi mz-input-prefix
                [icon]="'email'">
             </i>-->
            <input mz-input mz-validation required
                   [label]="'numberID'"
                   [validate]="true"
                   [name]="'number_id'"
                   (focusout)="searchNit($event)"
                   formControlName="number_id"
                   [value]="clientContractInput.number_id"
                   id="numberId-input"
                   placeholder="Enter numberID"
                   length="150"
                   type="text">
          </mz-input-container>
        </div>
        <div class="row">
          <div class="col s6">
            <label>Client</label>
            <mz-switch-container>
              <input mz-switch
                     [name]="'client'"
                     [value]="clientContractInput.client"
                     formControlName="client"
                     id="client-id"
                     [off]="'No'"
                     [on]="'Yes'"
                     type="checkbox">
            </mz-switch-container>
          </div>
          <div class="col s6">
            <!--  [(ngModel)]="dateOfBirth"-->
            <mz-datepicker-container class="col s12">
              <input mz-datepicker required
                     formControlName="birthdate"
                     [label]="'Birthdate*'"
                     [options]="datepickerOptions"
                     [name]="'birthdate'"
                     [value]="clientContractInput.birthdate"
                     id="datepicker"
                     placeholder="Select your birth date"
                     type="text">
            </mz-datepicker-container>
          </div>
        </div>


        <div class="col s12">
          <button class="col s12" [disabled]="loading" mz-button>
            save
          </button>
        </div>
      </form>
      <div class="row">
        <div class="col s12 text-center center-align">
          <mz-spinner
            *ngIf="loading"
            [color]="'blue'"
            [size]="'big'">
          </mz-spinner>
        </div>
      </div>


    </div>
  </mz-modal-content>
  <!--< <mz-modal-footer>
      <button mz-button [flat]="true" #closeBtn mz-modal-close>Disagree</button>
      <button mz-button [flat]="false" mz-modal-close>Agree</button>
    </mz-modal-footer>-->
</mz-modal>
