<div class="row">
  <div class="col s12">
    <h3>Sign Up User</h3>
    <div class="row">
      <form [formGroup]="signupForm" (ngSubmit)="singup($event)" novalidate>
        <mz-input-container class="col s12">

          <i mz-icon-mdi mz-input-prefix
             [icon]="'email'">
          </i>
          <input mz-input
                 formControlName="username"
                 [label]="'Username'"
                 [validate]="true"
                 [dataError]="'Username is invalid'"
                 [dataSuccess]="'Username is valid'"
                 id="username-input"
                 placeholder="Enter username"
                 length="150"
                 type="text">
        </mz-input-container>
        <mz-input-container class="col s12">
          <i mz-icon-mdi mz-input-prefix
             [icon]="'email'">
          </i>
          <input mz-input
                 formControlName="password"
                 [label]="'password'"
                 [validate]="true"
                 [dataError]="'Number ID is invalid'"
                 [dataSuccess]="'Number Id is valid'"
                 id="password-input"
                 placeholder="Enter your password"
                 length="150"
                 type="password">
        </mz-input-container>
        <mz-input-container class="col s12">
          <i mz-icon-mdi mz-input-prefix
             [icon]="'email'">
          </i>
          <input mz-input
                 formControlName="confirmPass"
                 [label]="'Repeat password'"
                 [validate]="true"
                 [dataError]="'password is invalid'"
                 [dataSuccess]="'password Id is valid'"
                 id="password-input"
                 placeholder="Enter your password"
                 length="150"
                 type="password">
        </mz-input-container>
        <button class="col s12" [disabled]="!loading" mz-button>
          Signup
        </button>
      </form>
    </div>
  </div>

</div>
