<div class="row">
  <form [formGroup]="userForm" (ngSubmit)="clickLogin($event)" novalidate>
    <div class="col s12">
      <h5>Login</h5>
      <div class="row">
        <div class="input-field col s12">
          <mz-input-container>
            <i mz-icon-mdi mz-input-prefix
               [icon]="'email'">
            </i>
            <input mz-input mz-validation required
                   [label]="'username'"
                   [validate]="true"
                   [value]=""
                   [name]="'username'"
                   [errorMessageResource]="errorMessageResources.username"
                   formControlName="username"
                   [(ngModel)]="signIn.username"
                   id="username-input"
                   placeholder="Username"
                   type="text">
          </mz-input-container>
          <!--<span class="helper-text" data-error="wrong" data-success="right">Helper text</span>-->
        </div>
        <div class="input-field col s12">
          <mz-input-container>
            <i mz-icon-mdi mz-input-prefix
               [icon]="'key'">
            </i>
            <input mz-input mz-validation required
                   [label]="'Password'"
                   [validate]="true"
                   [value]=""
                   [(ngModel)]="signIn.password"
                   [name]="'password'"
                   [errorMessageResource]="errorMessageResources.password"
                   formControlName="password"
                   id="password-input"
                   placeholder="Enter your password"
                   type="password">
          </mz-input-container>
          <!--<span class="helper-text" data-error="wrong" data-success="right">Helper text</span>-->
        </div>
        <div class="col s12">
          <button class="col s12" [disabled]="loading" mz-button>
            Login
          </button>
          <mz-progress
            *ngIf="loading"
            [backgroundClass]="'blue lighten-4'"
            [progressClass]="'blue'">
          </mz-progress>
        </div>
      </div>
    </div>
  </form>
</div>
