<div class="row">
  <div class="col s12">
    <h3>User list</h3>
    <div class="row">
      <div class="row" *ngIf="loadingClient">
        <div class="col s12 text-center center-align">
          <mz-spinner
            *ngIf="loadingClient"
            [color]="'blue'"
            [size]="'big'">
          </mz-spinner>
        </div>
      </div>
      <div class="col s12">
        <table *ngIf="!loadingClient">
          <thead>
          <tr>
            <th>ID</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>BirthDate</th>
            <th>Number Id</th>
            <th>Client</th>
            <th width="50px" class="center-align" colspan="3">Action</th>
          </tr>
          </thead>
          <tbody *ngIf="clientList.length>0">
          <tr *ngFor="let client of clientList">
            <td>{{client.Id}}</td>
            <td>{{client.firstname}}</td>
            <td>{{client.lastname}}</td>
            <td>{{client.birthdate}}</td>
            <td>{{client.number_id}}</td>
            <td>{{client.client == 1 ? 'yes' : 'no'}}</td>
            <td class="center-align td-small">
              <a class="waves-effect waves-light btn-small" (click)="openModalAssament($event,client)"><i
                class="material-icons">assignment</i></a>
            </td>
            <!--   <td class="center-align td-small">
                 <a class="waves-effect waves-light btn-small"><i class="material-icons">edit</i></a>
               </td>
               <td class="center-align td-small">
                 <a class="waves-effect waves-light btn-small"><i class="material-icons">delete</i></a>
               </td>-->
          </tr>
          </tbody>
          <tbody *ngIf="clientList.length==0">
          <tr>
            <td class="center-align" colspan="7">No have clients</td>
          </tr>
          </tbody>
        </table>
        <mz-pagination *ngIf="clientList.length>0 && !loadingClient && totalItems>clientList.length" class="right"
                       [currentPage]="currentPage"
                       (click)="changePage($event)"
                       [enableFirstAndLastPageButtons]="true"
                       [itemsPerPage]="itemsPerPage"
                       [totalItems]="totalItems"
        >
        </mz-pagination>
      </div>
      <div class="fixed-action-btn">
        <button class="pulse waves-effect waves-teal waves-green" (click)="openModal($event,null)" mz-button
                [float]="'true'">
          <i mz-icon
             [align]="'center'"
             [icon]="'control_point'"
             [size]="'small'">
          </i>
        </button>
      </div>
    </div>
  </div>
</div>
